@use "../abstracts" as *;

.container-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: var(--keypad-background);
  padding: 1.2rem;
  border-radius: 10px;

  button {
    cursor: pointer;
    color: var(--text-color);
    border: none;
    background-color: var(--buttons-bg);
    padding: 0.5rem 1rem;
    font-weight: $font-bold;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: inset 0 -5px 0 var(--key-shadow-03);
  }

  .del {
    background-color: var(--key-bg);
    color: $white;
    box-shadow: inset 0 -5px 0 var(--key-shadow);
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  .reset {
    grid-column: 1/3;
    color: var(--text-white);
    box-shadow: inset 0 -5px 0 var(--key-shadow);
    text-transform: uppercase;
    background-color: var(--key-bg);
    font-size: 1.3rem;
  }
  .equal {
    grid-column: 3 / -1;
    color: var(--text-white);
    background-color: var(--key-bg-02);
    box-shadow: inset 0 -5px 0 var(--key-shadow-02);
  }
}
// toogle theme

.toggle {
  display: flex;
  background-color: $dark-blue-secondary;
  padding: 4px;
  border-radius: 50px;
  width: 55px;
  justify-content: center;

  input {
    height: 15px;
    width: 15px;
    appearance: none;
    background-color: $red;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  input:hover {
    cursor: pointer;
  }

  #one {
    opacity: 1;
  }
}
