//BACKGROUND//
//THEME 1//

//- Very dark desaturated blue (main background)
$very-dark-primary: hsl(222, 26%, 31%);

// - Very dark desaturated blue (toggle background, keypad background)
$dark-blue-secondary: hsl(223, 31%, 20%);

//Very dark desaturated blue (screen background)
$dark-blue-tertiary: hsl(224, 36%, 15%);

//KEYS//
//- Desaturated dark blue (key background)
$desaturated-blue: hsl(225, 21%, 49%);

//- Desaturated dark blue (key shadow)
$blue-shadow: hsl(224, 28%, 35%);

//- Red (key background, toggle)
$red: hsl(6, 63%, 50%);

//- Dark red (key shadow)
$dark-red: hsl(6, 70%, 34%);

//- Light grayish orange (key background):
$light-grayish: hsl(30, 25%, 89%);

//- Grayish orange (key shadow)
$grayish-orange: hsl(28, 16%, 65%);

//TEXT//

//- Very dark grayish blue:
$grayish-blue: hsl(221, 14%, 31%);

//- White
$white: hsl(0, 0%, 100%);

//BACKGROUND//
//THEME 2//

//- Light gray (main background):
$light-gray: hsl(0, 0%, 90%);

//- Grayish red (toggle background, keypad background):
$grayish-red: hsl(0, 5%, 81%);

//- Very light gray (screen background):
$very-light-gray: hsl(0, 0%, 93%);

//KEYS THEME2//

//- Dark moderate cyan (key background):
$moderate-cyan: hsl(185, 42%, 37%);

//- Very dark cyan (key shadow):
$dark-cyan: hsl(185, 58%, 25%);

//- Orange (key background, toggle):
$orange: hsl(25, 98%, 40%);

//- Dark orange (key shadow):
$dark-orange: hsl(25, 99%, 27%);

//- Light grayish yellow (key background):
$grayish-yellow: hsl(45, 7%, 89%);

//- Dark grayish orange (key shadow):
$grayish-orange: hsl(35, 11%, 61%);

//TEXT THEME 2//

//- Very dark grayish yellow:
$very-grayish-yellow: hsl(60, 10%, 19%);

//BACKGROUND//
//THEME 3//

//- Very dark violet (main background):
$dark-violte: hsl(268, 75%, 9%);

//- Very dark violet (toggle background, keypad background, screen background):
$very-dark-violet: hsl(268, 71%, 12%);

//KEYS THEME 3//

//- Dark violet (key background):
$violet: hsl(281, 89%, 26%);

//- Vivid magenta (key shadow):
$vivid-magenta: hsl(285, 91%, 52%);

//- Pure cyan (key background, toggle):
$pure-cyan: hsl(176, 100%, 44%);

//- Soft cyan (key shadow):
$soft-cyan: hsl(177, 92%, 70%);

//- Very dark violet (key background):
$semi-dark-violet: hsl(268, 47%, 21%);

//- Dark magenta (key shadow):
$dark-magenta: hsl(290, 70%, 36%);

//TEXT THEME 3//

//- Light yellow:
$light-yellow: hsl(52, 100%, 62%);

//- Very dark blue:
$very-dark-blue: hsl(198, 20%, 13%);
