@use "../abstracts" as *;

.calc-container {
  display: grid;
  gap: 1rem;

  .calc-display {
    grid-column: 1 / -1;
    background-color: $dark-blue-tertiary;
    border-radius: 10px;
    font-size: 3rem;
    padding: 1.2rem;
    color: $white;
    text-align: end;
  }
}
